*{
  /* margin: 0; */
  /* padding: 0; */
}

h2{
  text-align: center;
}

li{
  /* list-style: circle; */
  /* padding: 2rem 0; */
}

form{
  display: flex;
  justify-content: center;
  column-gap: 5px;
}
